
#fps{
  font-weight: bold; 
  bottom: 10px;
  left: 10px;
  position: absolute;
  font-size: 13px;
  color: white;
  background-color:rgba(70, 70, 70, 1);
  border-bottom: 2px solid #AAF;
  padding: 10px;
}

#modal {
  display: block; 
  top: 0; left: 0; right: 0; bottom: 0; 
  width: 100%; 
  position: absolute; 
  text-align: center; 
  background-color: rgba(0, 0, 0, 1);
}

#push{
  position: absolute;
  margin: 35px;
}

.pushmessage{
  padding: 10px; 
  height: 40px;
  background-color: rgba(70, 70, 70, 1);
  border-bottom: 2px solid #AAF;
}

.pushmessage p{
  color: white; 
  font-size: 14px;
}