#log{
  width: 30%;
  height: 15vh;
  padding: 6px;
  bottom: 20px;
  left: 20px;
  position: absolute;
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #AAF;
  z-index: 1;
  overflow: scroll;
  display: none;
}

#modal{

  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 1);
  z-index: 10;
}

#short-load{
display: none;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  background-color: rgba(0.4, 0.4, 0.4, 0.5);
  z-index: 10;
}

#prog_0, #prog_1, #prog_2, #prog_3, #prog_4{
  position: absolute !important; 
  width: 0%; 
  z-index: 1096;
  height: 3px; 
  background-color: #AAF !important; 
}

#prog_1{
  background-color: #88D !important; 
  z-index: 1097;
}

#prog_2{
  background-color: #66C !important; 
  z-index: 1098;
}

#prog_3{
  background-color: #44A !important; 
  z-index: 1099;
}

#prog_4{
  background-color: #228 !important; 
  z-index: 1100;
}

#canvasarea{
  /* background: white; */
  /* url('../data/gradient.jpg'); */
}

.pixelPicker {
  position: absolute;
  left: 60px;
  bottom: 2px;
  color: white;
  z-index: 5;
  font-family: monospace;
  white-space: nowrap;
  padding: 6px;
  border-bottom: 2px solid  rgb(30, 211, 111);
}

.pixelPicker span {
  display: inline-block;
  white-space: pre;
}

#pixelPickerColor {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  background-color: white;
}
