@import url('https://fonts.googleapis.com/css?family=Kreon|Share+Tech+Mono|VT323');

#canvasarea{
	
	border-top: 1px solid #8a8a8a;
	border-left: 1px solid #8a8a8a;
}

.canvas-message{

	position: absolute;
	left: 40px;
	top: 80px;
	background-color: rgba( 0, 0, 0, 0.4 );
	padding: 10px;
    font-weight: bold;
    font-size: 14px;
	color: rgb(200, 200, 200);
}

.canvas-message-bar{

	width: 50%;
	padding: 10px;
	color: rgb(200, 200, 200);
	background-color: rgba( 77, 166, 65, 1 );
	white-space: nowrap;
}

#log{
  width: 30%;
  height: 15vh;
  padding: 6px;
  bottom: 30px;
  left: 5px;
  position: absolute;
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #5AF;
  z-index: 1;
  overflow: scroll;
  display: none;
}

#import-loader{
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 1);
  z-index: 10;
}

#import-names{
  width: 22%;
  min-width: 275px;
  height: 13vh;
  background: rgba(255, 255, 255, 0.4);
  color: rgb(250, 250, 250);
  overflow-y: scroll;
  margin: 0 auto;
  /* font-family: 'VT323', monospace; */
  /* font-family: 'Kreon', serif; */
  font-size: 14px;
}

.script-loaded{
  display: flex;
  height: 22px;
  justify-content: center;
}

.jsicon{
  width: 16px;
  height: 16px;
  margin: 16px;
  margin-right: 10px;
}

#import-container{
  margin: 0 auto;
  width: 22%;
  min-width: 275px;
  z-index: 11;
  text-align: center;
}

#import-text{
  padding: 10px;
  font-size: 25px;
  /* font-weight: bold; */
  text-align: center;
  /* font-family: 'VT323', monospace; */
  /* font-family: 'Share Tech Mono', monospace; */
  /*font-family: 'Kreon', serif;*/
}

#import-bar{
  width: 0%;
  height: 0.55vh;
  background-color:rgba(30, 211, 111, 1);
  border-radius: 50%;
}

#modal{
  display: none;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#short-load{
  display: none;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#canvasarea{
  /* background: white; */
  /* url('../data/gradient.jpg'); */
}

.pixelPicker {
  position: absolute;
  left: 60px;
  height: 30px;
  font-size: 14px;
  bottom: 2px;
  color: white;
  z-index: 5;
  font-family: monospace;
  white-space: nowrap;
  padding: 6px;
  /* border-bottom: 2px solid  rgb(211, 31, 111); */
}

.pixelPicker span {
  display: inline-block;
  white-space: pre;
}

#pixelPickerColor {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  background-color: white;
}

#canvas-tools {
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: 5;
}

.tool-section {
  user-select: none;
  -moz-user-select: none;  
  -webkit-user-select: none;  
}

.tool-button {
  opacity: 0.9;
  border-radius: 2px;
  border: 1px solid #777;
  color: #AAA;
  background-color: #333;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  margin-right: 4px;
  margin-bottom: 4px;
  cursor:pointer;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}

.tool-button.enabled {
  opacity: 1;
  background-color: #BBE;
  color: black;
}

.tool-button:hover {
  background-color: rgb(30, 211, 111);
  color: black;
}

.dragIcon{
  margin-right:8px;
  font-size:8px;
  color:#AAF;
  background:#AAF;
  border-radius:50%;
  border:2px solid #77B;
}